@use "Breakpoints";

.button {
    width: auto;
    white-space: nowrap;
    position: relative;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1;

    &:hover,
    &:focus {
        color: var(--color-primary);
        background-color: hsl(224, 24%, 30%);
    }
    &:focus-visible {
        outline: 2px solid var(--color-accent-light);
    }
    &:active {
        opacity: 0.5;
    }
}
