@use "Breakpoints";
@use "Reset";
@use "Utils";
@use "Common";

:root {
    --color-background: #0f142a;
    --color-text: #fff;
    --color-accent: #818cf8;
    --color-accent-light: hsl(234, 89%, 90%);
    --color-border: #475160;
}

body {
    font-family: "Nunito", sans-serif, AllianceNo1 Web, system-ui, -apple-system,
        Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
